/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* Prevents scrolling */
}

/* Intro screen styling */
#intro-container {
    text-align: center;
    margin-top: 50px;
}

#intro-container h1 {
    font-size: 2em;
}

#intro-container button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #008CBA;
    border: none;
    color: white;
    cursor: pointer;
}

#intro-container button:hover {
    background-color: #005f73;
}

/* Phaser game container */
#game-container {
    width: 100%;
    /* Take up 100% of the width */
    height: 100%;
    /* Take up 100% of the height */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Phaser game canvas */
canvas {
    display: block;
    margin: auto;
    background-color: black;
    max-width: 100%;
    /* Prevents the canvas from exceeding the viewport */
    max-height: 100%;
    /* Prevents the canvas from exceeding the viewport */
    object-fit: contain;
    /* Ensures the image is resized without distorting */
}